@import "../../assets/scss/colors.module.scss";

.loading {
  position: absolute;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary,
.outlined {
  position: relative;
  // max-width: fit-content;
  padding: 0.95em 2em;
  cursor: pointer;
  border-radius: 6px;
  // margin: 0 auto;
  &:disabled {
    opacity: 0.7;
    cursor: not-allowed;
  }

  transition: color 200ms, opacity 200ms, background-color 300ms;
}

.primary {
  color: #fff;
  background-color: $primary;
  border: 2px solid transparent;

  &:hover:not([disabled]) {
    background-color: rgba($primary, 0.85);
  }
}
.outlined {
  color: $primary;
  background-color: #fff;
  border: none;
  border: 1px solid $primary;

  &:hover:not([disabled]) {
    color: #fff;
    background-color: $primary;
  }
}

.rounded {
  border-radius: 25px;
}
