.btn {
  position: fixed;
  z-index: 800;

  right: 1.5rem;
  bottom: 1.5rem;
  padding: 0 !important;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 3rem;
  height: 3rem;

  opacity: 0;
  transform: translateY(2rem);
  transition: 300ms opacity, 300ms transform;

  &.scrolled {
    opacity: 1;
    transform: translate(0);
  }
}
