@import "../../../../assets/scss/common.module.scss";
@import "../../../../assets/scss/colors.module.scss";
@import "../../../../assets/scss/breakpoints.module.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;

  h1 {
    margin-bottom: 1rem;
  }

  // max-width: 500px;
  // margin-inline: auto;

  background-color: $bg;
  border-radius: $border_radius;
  box-shadow: $box_shadow;
  padding: 1.5rem 3.5rem;
  @include breakpoint(md) {
    padding-block: 3rem;
  }
  @include breakpoint(sm) {
    padding-block: 3rem;
    padding-inline: 1.25rem;
    svg {
      transform: scale(0.9);
    }
  }
}

.form {
  width: 100%;

  & > div {
    margin-bottom: 1rem;
  }
}

.btn_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;

  button {
    width: 100%;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    // padding-block: 0.75rem;
    padding-inline: 3rem;
  }
}

.register_text {
  text-align: center;
  font-size: 0.9em;
  // line-height: 1.25;

  a {
    color: $primary;
    font-weight: bold;
  }

  a:hover {
    text-decoration: underline;
  }
}
