@import "../../../assets/scss/breakpoints.module.scss";

.section {
  padding-block: 3em;

  display: grid;
  gap: 2.5rem;
  @include breakpoint(lg) {
    grid-template-columns: 0.25fr 1fr;
  }
}

.articles_container {
  display: grid;
  gap: 1rem;

  @include breakpoint(lg) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include breakpoint(md) {
    grid-template-columns: repeat(3, 1fr);
  }
}

.loading,
.error {
  display: flex;
  justify-content: center;
  align-items: center;

  min-height: 20rem;
  * {
    text-align: center;
  }
}
