@import "../assets/scss/breakpoints.module.scss";
@import "../assets/scss/colors.module.scss";
@import "../assets/scss/common.module.scss";

.title_left {
  @include breakpoint(lg) {
    color: $primary;
  }
}
.title_right {
  @include breakpoint(lg) {
    color: $text_primary;
  }
}

.hero_container {
  background-color: #fff !important;
  &::before {
    @include breakpoint(lg) {
      background-color: rgba(255, 255, 255, 0.2) !important;
    }
    @include breakpoint(md) {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }
    @include breakpoint(sm) {
      background-color: rgba(0, 0, 0, 0.3) !important;
    }
  }
}

.hero_section_content {
  max-width: fit-content;
  @include breakpoint(md) {
    margin-inline: auto;

    * {
      text-align: center;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: #fff !important;
    }

    .hero_btn_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @include breakpoint(sm) {
    margin-inline: auto;

    * {
      text-align: center;
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      color: #fff !important;
    }

    .hero_btn_container {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  p {
    max-width: 400px;
    font-weight: bold;
    // margin-inline: auto;
  }

  // display: grid;
  // place-items: center;

  transform: translateX(-2rem);
  opacity: 0;
  animation: animateIn 1.25s forwards;

  button {
    font-weight: bold;
  }
}

@keyframes animateIn {
  to {
    opacity: 1;
    transform: translate(0);
  }
}

.reviewsSection {
  margin-block: 4rem;

  @include breakpoint(md) {
    max-width: 600px;
    margin-inline: auto;
  }
}

.same_day_section {
  margin-block: 4rem;
  opacity: 0;
  transform: translateY(3rem);
  animation: animateIn 1.25s forwards;

  .title,
  .desc {
    text-align: center;
    margin-inline: auto;
    margin-bottom: 0.25rem;
  }

  .items_container {
    margin-block: 2rem;

    display: grid;
    gap: 1.5rem;
    @include breakpoint(lg) {
      grid-template-columns: 1fr 1fr;
    }
    @include breakpoint(md) {
      max-width: 500px;
      margin-inline: auto;
    }

    .item {
      background-color: $bg;
      width: 100%;
      border-radius: $border_radius;
      box-shadow: $box_shadow;
      padding: 1.5rem 1rem;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      img {
        height: auto;
        max-width: 4rem;
        object-fit: contain;
        margin-bottom: 1rem;
      }
      * {
        text-align: center;
      }
    }
  }
}

.section {
  margin-block: 5rem;
}

.last_section {
  * {
    text-align: center;
  }

  p {
    font-weight: bold;
  }
}
.btn_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2rem;
}
