@import "../assets/scss/breakpoints.module.scss";
@import "../assets/scss/colors.module.scss";
@import "../assets/scss/common.module.scss";

.hero_container {
  min-height: 20rem;
  @include breakpoint(sm) {
    min-height: 5rem;
  }
}
