@import "../../assets/scss/breakpoints.module.scss";
@import "../../assets/scss/colors.module.scss";
@import "../../assets/scss/common.module.scss";

.card {
  background-color: #fff;
  border-radius: $border_radius;
  box-shadow: $box_shadow;

  .content {
    padding: 1rem;
  }

  .category_date_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .title {
    font-weight: bold;
    line-height: 1.25;
  }

  .img {
    width: 100%;
    height: 175px;
    background-position: center;
    background-size: cover;
  }

  .date {
    font-size: 0.85em;
  }

  .category {
    background-color: $primary;
    color: #fff;
    display: inline-block;

    padding: 0.15em 0.5em;
    margin-block: 0.25rem;
    border-radius: $border_radius;
    font-size: 0.8em;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 150px;
  }

  .link_container {
    display: flex;
    justify-content: flex-end;
  }
  .link {
    font-size: 0.9em;
    text-align: end;
  }
  .link:hover {
    text-decoration: underline;
  }
}
