@import "../../assets/scss/colors.module.scss";

.input {
  font-family: "Poppins", sans-serif;

  // height: 3rem;
  border: 1px solid $text_primary;
  border-radius: 6px;
  background-color: transparent;

  width: 100%;

  // padding-right: 2em;
  padding-inline: 3em 1em;
  padding-block: 0.85em;

  transition: opacity 200ms;
}
.wrapper[data-no-icon="true"] {
  .input {
    padding-inline-start: 1em !important;
  }
}

.input:disabled {
  opacity: 0.7;
}

.label {
  color: $text_primary;
  margin-inline-start: 5px;
  font-size: 0.8em;
  font-weight: bold;
  margin-bottom: 4px;
  line-height: 1.25;
}

.wrapper {
  position: relative;
  width: 100%;
}

.icon,
.suffix {
  position: absolute;
  top: 50%;
  left: 12.5px;
  transform: translateY(-45%);

  max-width: 1.5em;
  max-height: 1.5em;

  // & > * {
  //   max-width: 100%;
  //   max-height: 100%;
  //   object-fit: contain;
  // }
}

.icon[data-textarea="true"],
.suffix[data-textarea="true"] {
  top: 0;
  transform: translateY(50%);
}

.suffix {
  left: auto;
  right: 0;
  transform: translate(-100%, 50%);
}

.error_message {
  margin-inline-start: 0.5em;
  font-family: "Poppins", sans-serif;
  color: red;
  font-weight: bold;
  font-size: 0.8rem;

  margin-top: 0.35rem;
  display: block;
  line-height: 1.15;
}
// html[dir="ltr"] {
//   .error_message {
//     font-size: smaller;
//   }
// }
// html[dir="rtl"] {
//   .error_message {
//     line-height: 1.5em;
//   }
// }

html[dir="rtl"] {
  .input {
    padding-right: 2em;
    padding-left: 4em;

    &[name="phone"],
    &[name="email"] {
      direction: ltr;
      text-align: right;
    }
  }
  .icon {
    left: 10px;
    right: auto;
  }
}
