@import "../../assets/scss/colors.module.scss";
@import "../../assets/scss/breakpoints.module.scss";

.item {
  cursor: pointer;
  transition: all 200ms;

  border-radius: 8px;

  background: #ffffff;
  border: 1px solid #b0b0b0;
  box-shadow: -3px 3px 0 #b0b0b0;

  &.selected {
    color: #ca3f50;
    background: #fffbfb;
    border: 1px solid #ca3f50;
    box-shadow: -3px 3px 0 #ca3f50;
  }

  padding: 0.5rem 0.75rem;

  &:disabled {
    * {
      opacity: 0.8;
    }
    img {
      opacity: 0.5;
    }
    cursor: not-allowed;
    box-shadow: -3px 3px 0 #dddbdb;
  }

  img {
    max-width: 4.25rem;
    max-height: 4.25rem;
    object-fit: contain;
    height: auto;

    @include breakpoint(md) {
      max-width: 4rem;
      max-height: 4rem;
    }
    @include breakpoint(sm) {
      max-width: 3.5rem;
      max-height: 3.5rem;
    }
  }

  text-align: start;
  p {
    font-size: 1em;
    line-height: 1.25;
  }
}
