@import "../../assets/scss/colors.module.scss";

.label {
  color: $text_primary;
  font-size: 0.9em;
  font-weight: bold;
  display: block;
  margin-bottom: 0.5rem;
  margin-bottom: 4px;
  line-height: 1.25;
}

.wrapper {
  display: flex;
  align-items: center;
  gap: 2rem;

  label {
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}

.input[type="radio"] {
  display: none;
}

.input[type="radio"] + label::before {
  content: "";
  cursor: pointer;

  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #aaa;
  background-color: #fff;
  transition: background-color 200ms;
  margin-right: 8px;
}

.input[type="radio"]:disabled + label::before {
  opacity: 0.7;
}
.disabled {
  opacity: 0.7;
}

.input[type="radio"]:checked + label::before {
  background-color: $primary;
  border-color: $primary;
}
